<form autocomplete='off'>
	<div class='path'>
		<label>Path:</label>
		<input name='path' type='text' data-dtype='String' value='{{path}}' readonly>
	</div>

	<div class='type'>
		<label>Type:</label>
		{{#if isUnsupported}}
		<label name='type'>{{typeName}}</label>
		{{else}}
		<select name='type'>
			{{selectOptions types selected=typeName}}
		</select>
		{{/if}}
	</div>

	<div class='value'>
		{{#if isUnsupported}}
		<p class='warning'>THIS IS POTENTIALLY VERY DANGEROUS.</p>
		{{else}}
		{{#if deadType}}
			<h3>{{#if (eq typeName 'null')}}Null{{else}}Undefined{{/if}}</h3>
			{{#if (eq typeName 'null')}}
			<input type='hidden' data-dtype='Boolean' name='value' value='true'>
			{{else}}
			<input type='hidden' data-dtype='Boolean' name='value' value='true'>
			{{/if}}
		{{else}}
			{{#if isLongString}}
				{{#if isHTML}}
				{{editor content=value target='value' owner=isOwner editable=isEditable button=false}}
				{{else}}
				<textarea data-dtype='String' name='value'>{{value}}</textarea>
				{{/if}}
			{{else}}
				{{#if simpleType}}
					{{#if (eq typeName 'string')}}
					<input value='{{value}}' name='value' type='text' data-dtype='String'>
					{{else if (eq typeName 'number')}}
					<input value='{{value}}' name='value' type='number' data-dtype='Number'>
					{{else if (eq typeName 'boolean')}}
					<input name='value' type='checkbox' data-dtype='Boolean' {{checked value}}>
					{{else}}
					<h3>ERROR: Unidentified simple type</h3>
					{{/if}}
				{{else}}
				<h3>ERROR: Unidentified type</h3>
				{{/if}}
			{{/if}}
		{{/if}}
		{{/if}}
	</div>

	{{#if (ne type originalType)}}
	{{#unless similarType}}
	<p class='warning'><i class='fas fa-exclamation-triangle'></i> You're changing the datatype. Be careful!</p>
	{{/unless}}
	{{/if}}

	{{#if isToken}}
	<p class='token warning'>{{localize 'Koboldworks.DataInspector.Editor.TokenWarning'}}</p>
	{{/if}}

	<div class='buttons'>
		{{#unless isUnsupported}}
		<button type='submit'>Update</button>
		{{/unless}}
		<button class='delete'>Delete</button>
	</div>
</form>
