<form autocomplete='off'>
	<div class='header'>
		<div class='main'>
			<label for='{{uuid}}-path'>Path</label>
			<input id='{{uuid}}-path' class='path' type='text' placeholder='Data path' value='{{path}}'>
			<label for='{{uuid}}-search'>{{localize 'Koboldworks.DataInspector.Search'}}</label>
			<input id='{{uuid}}-search' class='search' type='text' data-dtype='String' placeholder='Filter' value='{{search}}'>
		</div>
		<div class='settings'>
			<div class='row mode'>
				<label for='{{uuid}}-source'>Mode</label>
				<select id='{{uuid}}-source' class='type' title='{{localize 'Koboldworks.DataInspector.Legend'}}'>
					{{#select dataType}}
					<!-- <option value='mixed'>{{localize 'Koboldworks.DataInspector.Data.Mixed'}}</option> -->
					<option value='rolldata'>{{localize 'Koboldworks.DataInspector.Data.Roll'}}</option>
					<option value='derived'>{{localize 'Koboldworks.DataInspector.Data.Derived'}}</option>
					<option value='source'>{{localize 'Koboldworks.DataInspector.Data.Source'}}</option>
					{{#if @root.data.hasOverrides}}
					<option value='override'>{{localize 'Koboldworks.DataInspector.Data.Override'}}</option>
					{{/if}}
					{{/select}}
				</select>
			</div>

			<div class='row functions'>
				<input id='{{uuid}}-functions' type='checkbox' class='functions' {{checked includeFunctions}}>
				<label for='{{uuid}}-functions' title='Include getters and functions'>{{localize 'Koboldworks.DataInspector.Functions'}}</label>
			</div>

			<div class='row search' title='Search strictness. Left is more lax, right is more strict.'>
				<label for='{{uuid}}-search-quality'>Strictness</label>
				<input id='{{uuid}}-search-quality' type='range' data-dtype='Number' class='search-quality' min='0' max='1' step='0.01' value='{{resultQuality}}'>
			</div>

			{{!-- Include document data --}}
			<!--
			<input id='{{uuid}}-document' type='checkbox' class='document' {{checked includeDocument}}>
			<label for='{{uuid}}-document' title='Include getters and functions'>{{localize 'Koboldworks.DataInspector.Document'}}</label>
			-->
		</div>
	</div>

	<div class='type'>
		<label>{{localize 'Koboldworks.DataInspector.Type'}}:</label><label title='{{typeLabel}}'>{{type}}</label>
		<label>{{localize 'Koboldworks.DataInspector.Document'}}:</label><label>{{docType}}</label>
	</div>

	<p class='hint'>{{localize 'Koboldworks.DataInspector.Instructions'}}</p>

	<div class='headers'>
		<label class='key'>Key</label>

		<label class='value'>Value</label>

		<div class='data-pools'>
			{{#unless @root.isRollData}}<label class='pool rolldata' title='Data present in roll data.'>R</label>{{/unless}}
			{{#unless @root.isDerivedData}}<label class='pool derived' title='Data present in derived data.'>D</label>{{/unless}}
			{{#unless @root.isSourceData}}<label class='pool source' title='Data present in source data.'>S</label>{{/unless}}
			{{#if @root.isSourceData}}<label class='pool temporary' title='Data present in temporary document of same type.'>T</label>{{/if}}
		</div>
	</div>

	<div class='data {{dataType}}'>
		{{#if data.isNullish}}
		<p class='warning'>No data found.</p>
		{{else}}
		{{~> "modules/data-inspector/template/object.hbs" data}}
		{{/if}}
	</div>
</form>
