<div class='details'>
	<h4 class='key'>{{#if inArray}}[{{@index}}]{{else}}{{key}}{{/if}}</h4>
	{{#if isGetter}}
		<label class='value getter {{css}}'>getter (click to resolve)</label>
	{{else if isFunction}}
		<label class='value function {{css}}'>function</label>
	{{else if (or isContainer isDocument)}}
		{{#if isEmpty}}
		{{!-- Basic empty container --}}
		<label class='value container empty {{type}} {{css}} type-{{className}}'>
		{{~#if isCustom}}{ {{~className~}} }{{else if isNull}}null{{else if isUndefined}}undefined{{else if isArray}}[]{{else}}{}{{/if~}}
		</label>
		{{else}}
		{{!-- Container with contents --}}
		<label class='value container {{type}} {{css}} type-{{className}}'
			{{#if id}}title='{{~localize 'Koboldworks.DataInspector.IDValue' id=id}}' data-id='{{id}}'{{/if}}>
			{{#if isArray}}
			[0...{{children.length}}]
			{{else}}
			{ {{~#if (eq className 'Object')}}...{{else}}{{className}}{{#if isDocument}}:{{documentId}}{{/if}}{{/if~}} }
			{{/if}}
		</label>
		{{/if}}
	{{else}}
		{{!-- Basic value --}}
		{{#if isBigString}}
		<div class='extended-value'>
			<label class='value-details'>({{value.length}} characters)</label>
		{{/if}}
		<label class='value basic {{type}} {{#if isNullish}}empty{{else if isBigString}}big{{/if}} {{css}}'>{{formattedValue}}</label>
		{{#if isBigString}}
		</div>
		{{/if}}
	{{/if}}

	<div class='data-pools'>
		{{#unless @root.isRollData}}<span class='pool rolldata {{#if inRollData}}{{#if (gt inRollData 1)}}deformed'>?{{else}}present'>✓{{/if}}{{else}}absent'>✗{{/if}}</span>{{/unless}}
		{{#unless @root.isDerivedData}}<span class='pool derived {{#if inDerivedData}}{{#if (gt inDerivedData 1)}}deformed'>?{{else}}present'>✓{{/if}}{{else}}absent'>✗{{/if}}</span>{{/unless}}
		{{#unless @root.isSourceData}}<span class='pool source {{#if inSourceData}}{{#if (gt inSourceData 1)}}deformed'>?{{else}}present'>✓{{/if}}{{else}}absent'>✗{{/if}}</span>{{/unless}}
		{{#if @root.isSourceData}}<span class='pool temporary {{#if inTemporaryData}}{{#if (gt inTemporaryData 1)}}deformed'>?{{else}}present'>✓{{/if}}{{else}}absent'>✗{{/if}}</span>{{/if}}
	</div>
</div>
